@import "variables"
@import "semantic-ui"

html, body
  background: asset_url('background.png')

h1.ui.header
  &.hero
    font-size: 5rem

.mint-text
  color: $mint !important

.small_logo
  vertical-align: middle
  background: asset_url('small_logo.jpg') center no-repeat
  background-size: contain
  width: 68px
  height: 68px

.text-center
  text-align: center

section
  padding: 20px
  h1
    margin-bottom: 20px !important

.card
  .image
    background-color: white !important
  &.syurup
    img
      width: 150px !important
  img
    margin: 0 auto
    height: 300px !important

.additional
  margin-bottom: 5px

.feed
  margin-bottom: 20px
  .date
    button
      margin-left: 15px

span.text-mint, a
  color: $mint
